<launch>

    <!-- 启动mbot -->
    <node pkg="robot_bringup" type="robot_bringup" name="robot_bringup" output="screen" >
        <!-- 参数可以直接在launch文件中通过param设置，也可以用yaml文件传参，以下就是直接在launch文件中设置 -->
        <param name="speedparam_x" value="1125/2"/> <!-- 线速度的速度系数 -->
        <param name="speedparam_y" value="4655/2"/> <!-- 角速度的速度系数 -->
        <rosparam file="$(find robot_bringup)/param/speedparam.yaml" command="load"/>
    </node>

    <!-- 手柄控制 -->
    <!-- <node pkg="joy" type="joy_node" name="joy_node" /> -->

    <!--与cmake里面的add_executable有关-->
    <!-- <node pkg="joy_control" type="joy_control" name="joy_control" > 
        <param name="axis_linear" value="1" type="int" />
        <param name="axis_angular" value="3" type="int" />
    </node> -->

    <node pkg="rqt_reconfigure" type="rqt_reconfigure" name="rqt_reconfigure" />
</launch>